{% extends "layouts/layouts.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <hr><br>

    {% if messages %}
        {% for i in messages %}
            <div class="alert-warning">
                {{i}}
            </div>
        {% endfor %}
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}

        <label for="username">Nombre del usuario:</label>
        <input type="text" name="username">
        <label for="password">contraseña:</label>
        <input type="password" name="password">
        <input type="submit" value="login">

    </form>
{% endblock content %}