{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}|Django Proyecto UTD
    </title>
    <link rel="stylesheet" href="{% static "css/estilos.css" %}" type="text/css">
</head>
<body>
    <header>
        <div id="logotipo">
            <img src="{% static "img/logodjango.png" %}" alt="Imagen Django" title="Django">
            <h1>Django Proyecto Web</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url "inicio" %}" >Inicio</a></li>
            {% if user.email %}
            <li><a href="{% url "acercade" %}">Acerca de</a></li>
            <li><a href="{% url "mision" %}">Mision</a></li>
            <li><a href="{% url "vision" %}">Vision</a></li>
            <li><a href="{% url "listado_articulos" %}">Artículos</a></li>
            <li><a href="{% url "listado_categorias" %}">Categorias</a></li>
            <li><a href="{% url "logout" %}">Cerrar sesión</a></li>

            {% else %}

            <li><a href="{% url "registro" %}">Registro</a></li>
            <li><a href="{% url "login" %}">Login</a></li>

            {% endif %}

        </ul>
    </nav>
    <section id="content">
        <div class="box">
            {% comment %} <h1>Inicio</h1>
            <hr> {% endcomment %}
            <p>{% block content %}{% endblock content %}</p>
        </div>
    </section>
    <footer>
        <p>Django con Dagonline &copy; 2024 | Visitado el: 01/10/24</p>
    </footer>
</body>
</html>