{% extends "layouts/layouts.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
    <h1 class="title">{{title}}</h1>
    <hr>
    <h1 align="center">Listado</h1> <hr>
    {% for i in category %}
        <article class="article-item">
            <div class="data">
                <h2>{{i.name}}</h2>
                <p>Descripción: {{i.description}}</p>
                <span class="date">
                    {{i.created_at}}
                </span>
                <hr>
            </div>
            <div class="clearfix"></div>
        </article>
    {% endfor %}
{% endblock %}