*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(animales.jpg);
    background-size: cover;
    height: 100vmax;
}

#contenedor{
    width: 80%;
    margin:0 auto;
    max-width: 1920px;
}

h1{
    padding-top: 4VW;
    padding-bottom: 4vw;
    text-align:center;
    color:white;
    font-size: 3.1vw;
    font-weight: normal;
    font-style: italic;
    background-color:rgba(15, 15, 15, 0.384);
}

#calculadora{
    margin: 2vw;
    text-align: center;
    color: black;
    font-size:2vw
}

#caja{
    font-size: 2vw;
    color: black;
    font-weight: bolder;
    width: 10%;
}

#tipo{
    width: auto;
}

#boton{
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 2vw;
    font-size: 1.5vw;
    background-color: aqua;
    border-radius: 10%;
    border: 1px solid aqua;
    color: white;
}

#boton:hover{
    background-color: black;
    border: 1px solid black;
}

#boton:active{
    background-color: green;
    border: 1px solid green;
    color: black
}