*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(animales.jpg);
    background-size: cover;
    height: 100vmax;
}

#contenedor{
    width: 80%;
    margin:0 auto;
    max-width: 1920px;
}

h1{
    padding-top: 4VW;
    padding-bottom: 4vw;
    text-align:center;
    color:black;
    font-size: 3.1vw;
    font-weight: normal;
    font-style: italic;
}

#calculadora{
    margin: 2vw;
    text-align: center;
    color: black;
    font-size:2vw
}